<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        :root {
  --white: #fff;
  --black: #000;
  --blue: rgb(39, 56, 133, 0.7);
  --deepblue: #001057;
}
.formwarp {
  height: 100vh;
  overflow-x: auto;
  background-image: url(https://rb.gy/prqm6i);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login-register {
  height: 100%;
  display: flex;
}
.form {
  background-color: var(--blue);
  width: 450px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px 2px var(--deepblue);
}
.form .form-header {
  text-align: center;
  margin-bottom: 30px;
}
.form .form-header img {
  width: 80px;
}
.form .form-group {
  margin-bottom: 15px;
}
.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
  color: var(--white);
}
.form input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 3px;
  color: var(--black);
}
.form input:focus {
  outline: none;
  box-shadow: 0 0 10px var(--white);
}
.form-bottom {
  margin-top: 20px;
}
.form-bottom p {
  margin: 5px 0;
  color: var(--black);
}
.form-bottom a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}
#register, #forgot-password {
  display: none;
}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="formwarp">
        <div class="login-register">
          <div class="login form">
            
            <!--   login form   -->
            <form id="login" class="active" action="/login" , method="post">
              <div class="form-header">
                <img src="https://assets.codepen.io/1584356/codepen.png" alt="logo">
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Username" name="user_name">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password" name="password">
              </div>
              <div class="form-bottom">
                <p class="not-registered">Dont have an account? <a href="/signup">Register</a></p>
                <p class="forgot-password"><a href="#">Forgot password?</a></p>
              </div>
              <div class="form-bottom">
                <button type="submit" style="margin-left: 12rem;">Submit</button>
              </div>
            </form>
            
            
      <!--   forgot password     -->
            <form action="" id="forgot-password"> 
              <div class="form-header">
                <img src="https://assets.codepen.io/1584356/codepen.png" alt="logo">
              </div>       
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Password">
              </div>
              <div class="form-bottom">
                <p class="already-registered">Alredy have an account? <a href="/loginform">Login</a></p>
              </div>
            </form>
          </div>
          
          
        </div>
      </div>
</body>
</html>


